.sustainability-frame-1000003374
	@apply fixed z-90
	right: r(24px)
	bottom: r(120px)

	.item
		@apply flex items-center justify-center
		width: r(48px)
		height: r(48px)
		min-width: r(48px)
		padding: r(8px) r(12px)

		i
			@apply text-2xl leading-none
