.home-about
	@apply relative overflow-hidden
	padding-top: r(80px)
	@screen xl
		padding-top: r(150px)
	.counter-wrap
		@apply gap-[1px]
	&.service-detail-1
		@screen xl
			&::after
				content: ''
				@apply block absolute-x pointer-events-none top-0 z-10  transition w-[1px] h-full
				background: linear-gradient(180deg, rgba(220, 220, 220, 0) 0%, #DCDCDC 100%)
				height: r(1000px)

		@apply py-16
		@screen xl
			@apply py-20
		.content
			@apply ml-auto  mr-0 justify-start
			@apply lg:rem:pr-[80px]
			@screen xl
				@apply rem:max-w-[800px]
			@screen 2xl
				@apply rem:max-w-[700px]
		.heading-1
			@apply font-Montserrat
		.counter
			@apply font-Google-Sans-Flex !#{important}
			@screen xl
				font-size: r(60px)
		.container-fluid
			>.row
				@apply m-0 p-0  
				>.col
					@apply m-0 p-0
				@screen lg
					gap: 0  r(160px) 
		.list
			.row
				@apply gap-0
			.inner
				.desc
					margin-top: r(2px)
	&:not(.service-detail-1)
		.list
			.row
				@apply gap-0
		.bg-bottom
			@screen max-sm
				display: flex
				@apply items-end
				height: 200px
				width: auto
				img
					width: auto
					height: 100%
					object-fit: cover
	.container-fluid
		@apply p-[15px]
		@screen xl
			@apply p-0
		>.row
			@screen lg
				@apply flex-nowrap
			&:nth-child(1)
				.col
					&:nth-child(2)
						@screen lg
							@apply pl-0
						
				
			&:not(:last-child)
				@apply pb-15
				@screen xl
					padding-bottom: r(150px)
			&:nth-child(even)
				@apply flex-row-reverse
				.img
					@apply ml-auto w-full
				.content
					@apply ml-auto mr-0
	.list
		@apply w-full
		.row
			@screen sm
				@apply flex-nowrap
	.progress-track
		@apply top-0 w-[2px] 
		height: calc( 100% -  r(360px) )
		@screen xl
			@apply absolute-x 
		@screen max-xl
			@apply absolute
		&::before,&:after
			content: ''
			@apply block w-full h-full  pointer-events-none z-10  absolute inset-0
		&::before
			@apply z-99 bg-primary-2
			transform-origin: top
			transform: scaleY(var(--progress, 0))
		&::after
			background: linear-gradient(180deg, rgba(220, 220, 220, 0.00) 0%, #DCDCDC 50%, rgba(220, 220, 220, 0.00) 100%)

	.content
		@apply flex flex-col
	
	.content
		@apply mr-auto
	.item
		hr
			@apply border-0 border-t border-gray-200 w-full

	.panel
		@apply relative w-full overflow-hidden
	
	.t128-900-125-s-ahc
		@apply uppercase whitespace-nowrap z-50 absolute bottom-0
		left: r(140px)
		letter-spacing: -0.02em
		text-align: center
		text-shadow: 0 8px 32px rgba(0, 0, 0, 0.04)
		
		
		font-style: normal
		font-weight: 900
		line-height: 1
		
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.80) 79.38%)
		background-clip: text
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		@screen max-lg
			@apply text-8xl left-10
			transform: translateY(16%)
		@screen max-sm
			@apply text-7xl left-4
		@screen lg
			line-height: 1
			transform: translateY(22%)
	.zone-desc
		p
			&:not(:last-child)
				@apply mb-4
		@apply text-grey-800
		*
			@apply text-grey-800
		strong
			@apply text-gray-950 font-bold
			*
				@apply text-gray-950 font-bold
	.bg-bottom
		
		height: r(480px)
		&::after
			content: ''
			@apply block absolute pointer-events-none left-0 top-0 z-10  transition w-full h-1/2
			background: linear-gradient(180deg, #FFFFFF 0%, #C7D3EC 100%)
		img
			@apply w-full h-auto relative z-40