.projects-detail-loi-the-khac
	.media
		@apply w-full overflow-hidden
		+aspect-ratio(680, 575)

		img
			@apply w-full h-full object-cover

	.box
		@apply flex items-center justify-center shrink-0
		width: r(48px)
		height: r(58px)

		i
			@apply text-5xl leading-none

	.list
		hr
			@apply w-full border-0 bg-gray-200
			height: 1px
