.projects-detail-info
	.card
		
		background: linear-gradient(86.75deg, #254B9D -10.65%, #2360B4 100.95%);

		padding: r(24px) r(40px)

	.inner
		hr
			@apply w-px border-0 bg-white/40 self-stretch
			min-height: r(48px)
