.about-chief
	.top-row
		@apply justify-between m-0 p-0
		.col
			@apply  m-0 p-0
		>.col
			@screen max-lg
				@apply w-full
			@screen lg
				width: 42.6%
				&:nth-child(2)
					width: 51.2%
				
	.card
		@apply relative h-full
		&::after
			content: ''
			@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-[1px] bg-primary-2 opacity-0
		&:hover
			&::after
				@apply opacity-100
			.heading-4
				@apply text-primary-2
		.box
			@apply flex flex-col items-center flex-1
			gap: r(4px)

		.media
			@apply w-full overflow-hidden 
			background: none
			&:before
				content: ''
				@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-full
				background: url('../img/bg/mask-chief.jpg')
				background-repeat: no-repeat
				background-size: cover
				background-position: center
			+aspect-ratio(620, 600,contain)
			img
				@apply w-full h-full object-contain z-50

	.list
		.item
			@apply flex flex-col relative
			&::after
				content: ''
				@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-[1px] bg-primary-2 opacity-0
			&:hover
				&::after
					@apply opacity-100
				.heading-6
					@apply text-primary-2
			.media
				flex: 0 0 auto
				@apply w-full 
			.box
				flex: 0 1  auto
				@apply h-full
		.heading-6
			@apply mb-1
		.box
			@apply h-full
			gap: r(4px)
		.media
			&:before
				content: ''
				@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-full
				background: url('../img/bg/mask-chief.jpg')
				background-repeat: no-repeat
				background-size: cover
				background-position: center
			+aspect-ratio(262, 340,contain)

			img
				@apply w-full h-full object-contain z-50

