header
	@apply h-[var(--header-height)] border-b-transparent
	&::before 
		content: ""
		position: absolute
		inset: 0
		z-index: 9
		pointer-events: none
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.00) 100%)
		backdrop-filter: blur(0px)
		-webkit-backdrop-filter: blur(0px)
	&::after
		content: ''
		@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-full bg-white opacity-100
		@screen max-xl
			@apply opacity-100 !#{important}
	.container-fluid
		@screen 2xl
			padding: 0 r(160px)
.mobile-top-nav
	@apply hidden
.site-menu-toggle
	@apply bg-white  flex-center  mt-0
	height: 40px
	width: 40px
	min-width: 40px
	.hamburger
		@apply mt-1
	@screen xl
		@apply hidden
.nav-brand
	@screen max-xl
		@apply absolute-center z-50
	a
		height: 50px
		width: 100%
		@apply transition flex-center 
		@media screen and ( min-width: 1200px)
			@apply justify-start 
			height: #{clampSize(75)}
		img,svg
			width: 100%
			height: 100%
			object-fit: contain
.mobile-nav-wrap
	@apply fixed  right-0 w-full  h-screen px-8 py-4  border-t border-e-gray-50
	top: var(--header-height)
	z-index: 9999
	transform: translateX(100%)
	transition: transform .8s cubic-bezier(.165,.84,.44,1)
	&::before
		content: ''
		@apply block absolute pointer-events-none left-0 bottom-0 z-10  transition w-full h-full bg-white
	@screen md
		width: 320px
	@media screen and ( min-width:1200px )
		@apply hidden 
	&.is-open
		transform: none
	.close-menu
		@apply w-[24px] h-[30px]
		em,i
			@apply  font-light text-dark text-2xl
		
	