.sticky-nav
	@apply min-h-[48px] h-12 bg-white
	box-shadow: 0px 8px 32px 0px #0000000F
	top: 0 !important
	&.scroll-to-fixed-fixed
		top:  var(--header-height) !important
	&.reached-limit
		top: unset !important
		position: static !important
	
	ul
		@apply flex-center h-full bg-grey-100
		@screen max-xl
			@apply px-6
	.container
		@apply relative h-full bg-none
		@media screen and ( max-width: 1800px)
			+res-nav
			@apply  bg-grey-100

			ul 
				@apply justify-start pl-4
				li
					@screen max-xl
						&:first-child
							@apply pl-3
	li
		@apply flex-center h-full
		@screen xl
			@apply rem:px-[20px]
		
		&::after
			content: ''
			@apply block  absolute-y right-0 pointer-events-none   z-10  transition  w-[1px] h-4 bg-grey-300

		a
			@apply h-full flex-center text-base  font-normal text-grey-950
			&::after
				content: ''
				@apply block absolute-x pointer-events-none  bottom-0 z-10  transition h-[2px] bg-primary-2  w-0
		&:hover,&.is-active
			a
				@apply text-primary-2
				&::after
					@apply w-full
		&:last-child
			&:after
				@apply hidden
		@screen max-lg
			@apply order-3
			&.is-active
				order: 1



.sticky-nav .container
	overflow-x: auto
.sticky-nav .container::-webkit-scrollbar
	background: #D9D9D9
	height: 3px !important
	border-radius: 4px
.sticky-nav .container::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 4px #D9D9D9
	background-color: #D9D9D9
	border-radius: 4px
.sticky-nav .container::-webkit-scrollbar-thumb
	background-color: #254b9d
@-moz-document url-prefix()
	.sticky-nav .container
		scrollbar-width: thin
		scrollbar-color: #254b9d #D9D9D9
