.sustainability-gia-inh-group
	min-height: r(896px)

	.media
		@apply absolute inset-0

		img
			@apply w-full h-full object-cover

	.container-xxl
		@apply flex items-start
		padding-top: r(60px)
		padding-bottom: r(60px)

	.content
		@apply flex flex-col
		max-width: r(499px)
		gap: r(20px)
