main
	padding-top: var(--header-height)
body
	&.home,&.homepage
		main
			padding-top: 0
		header
			&::after
				@apply opacity-0
body
	--header-height: 70px
	@screen xl
		--header-height:  #{clampSize(124)}
	&.minimize
		@screen xl
			--header-height: #{clampSize(80)}
			header
				&::after
					@apply opacity-100
			.nav-brand
				a
					height: clampSize(60)
		// .search-overlay
		// 	top: var(--header-height)
