.sustainability-trach-nhiem-xa-hoi
	.media
		@apply overflow-hidden w-full h-full
		min-height: r(600px)

		img
			@apply w-full h-full object-cover

	.content
		@apply flex flex-col justify-center h-full
		min-height: r(600px)
		max-width: r(600px)
		gap: r(20px)
