.sustainability-frame-1000005121
	min-height: r(660px)

	.media
		@apply absolute inset-0

		img
			@apply w-full h-full object-cover

		&::after
			content: ''
			@apply absolute inset-0 bg-black/30

	.container-xxl
		@apply flex flex-col justify-end h-full

	.content
		@apply flex flex-col
		gap: r(16px)
		max-width: r(646px)
